container_commands:
  01_mkdir:
    command: "mkdir -p /var/log/ivysaur"
    leader_only: false
  02_touch_log:
    command: "touch /var/log/ivysaur/ivysaur.log; chmod 666 /var/log/ivysaur/ivysaur.log"
    leader_only: false
  03_upgrade:
    command: "source /opt/python/run/venv/bin/activate && python manage.py db upgrade >> /var/log/ivysaur_deploy.log"
    leader_only: true
  04_create_default_roles:
    command: "source /opt/python/run/venv/bin/activate && python manage.py create_roles >> /var/log/ivysaur_deploy.log"
    leader_only: true
